#login {
    /* background: aqua; */
    width: 600px;
    margin: 0 auto;
}

#login h1, #login h2 {
    text-align: center;
}

#login h1 {
    margin-top: 50px;
}

#login h1:nth-child(2) {
    margin-top: 20px; font-size: 2.3rem;
}

#login h1 img {
    width: 100px;
}

#login h2 {
    margin: 20px 0;
}


#login #login_form fieldset ul {
    margin-bottom: 30px;
}

#login #login_form fieldset ul li input[name=user_id] {
    border: 1px solid #aaa;
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

#login #login_form fieldset ul li:nth-child(2) {
    margin-bottom: 50px;
}

#login #login_form fieldset ul li {
    line-height: 1.3;
}

#login #login_form fieldset ul li a {
    color:#1a73e8;
}

#login #login_form fieldset .bottom {
    /* background: pink; */
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
#login #login_form fieldset .bottom .join {
    color:#1a73e8;
}
#login #login_form fieldset .bottom #next_btn {
    background: #1a73e8;
    color:#fff;
    padding: 15px 25px;
    border-radius: 5px;
}
#login footer {
    /* background: yellow; */
    margin-top: 100px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
#login footer .right a {
    color: #aaa; margin-left: 20px;
}
#login footer .right a:first-child {
    margin:0;
}
