body{
    background-color: #222;
}


.site-header{
    background: #ffffff00;
    border-bottom: 1px solid #e9ecef;
}
.brand{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    letter-spacing: -0.3px;
}
.brand:hover{ color:#fff; }
.brand .my{ color:#fff; }
.brand .sw-idea{ color:#aeff2d; }  /* 스샷 느낌의 포인트 컬러 */
.brand .manage{ color:#fff; font-weight: 700;}
.brand span{
    font-size: 30px;
}
.header-link{
    text-decoration: none;
    color:#fff;
    font-weight:600;
}
.header-link:hover{ color:#bbb; }

.idea-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.idea-card{
  text-decoration: none;
  color: #fff;
  background: #f8f9fa;
  border-radius: 8px;
  padding: 16px;
  transition: transform .15s ease, box-shadow .15s ease;
}

.idea-card:hover{
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
}

.idea-thumb{
  background: #dee2e6;
  border-radius: 6px;
  padding: 5px;
  margin-bottom: 12px;
}

.idea-thumb img{
  width: 100%;
  height: 100%;
  object-fit: cover;    /* 비율 유지 + 넘치는 부분 크롭 */
  display: block;
}

.idea-title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #fff;
}

.idea-meta{
  color: #ccc;
  margin-bottom: 8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 8px
}
.idea-meta span{
  font-size: 17px;
}

.meta-label{
  margin-right: 5px;
}

.meta-value{
  font-weight: 600;
  color: #fff;
}

.empty-message{
    margin-top: 120px;
    text-align: center;
    color: #9ca3af;     
    font-size: 1.1rem;
    font-weight: 500;
}