ol, ul, li{
    list-style: none;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
}

body{
    background: black;
    color: #fff;
    font-family: "Nexon",-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.max-width-1200 {
    width: min(1200px, 100%);
    padding: 0 40px;
    margin: auto;
}

.interview .portfolio{
    padding: 90px 40px 50px;
}

header{
    flex: 1;
    position: sticky;
    top: 0;
    background: linear-gradient(to bottom, #000000,#000000, rgba(0, 0, 0, 0));
    padding: 5px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    z-index: 999;
    align-items: center;
    height: 90px;
    padding: 0 40px;
}

.tab-bar{
    display: flex;
    flex-flow: row;
    gap: 16px;
}

.tab-bar-ham{
    display: none;
    width: 30px;
}

.tab-bar-ham div{
    background-color: #fff;
    width: 100%;
    height: 3px;
}

.tab-bar-ham :nth-child(1){
    background-color: #fff;
    width: 50%;
    height: 3px;
}

.tab-bar-ham :nth-child(3){
    background-color: #fff;
    width: 75%;
    height: 3px;
}

.tab{
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.container{
    margin: 0 auto;
    padding: 0px 40px 20px;
}

.header{
    display: flex;
    flex-flow: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-size: 16px;
}

.cur{
    font-size: 22px;
}

.project-list{
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
}
.project{
    width: 100%;
    background: #2b2b2b;
    border-radius: 16px;
    padding: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.project-more {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 16px;
    top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.project-more > div {
    width: 100%;
    height: 2px;
    background-color: #ececec77;
}

.project-more :nth-child(1){
    transform-origin: left center;
}

.project-more :nth-child(3){
    transform-origin: right center;
}

.project:hover .project-more :nth-child(1){
    animation: shrink 0.3s ease forwards;
    background-color: #ececec77;
}

.project:hover .project-more :nth-child(3){
    animation: shrink 0.3s ease forwards;
    background-color: #ececec77;
}

@keyframes shrink{
    from{
        transform: scaleX(1.0);
    }
    to{
        transform: scaleX(0.5);
    }
}

.project:hover .project{
    top: -2px;
}

.project-img{
    width: 150px;
    height: 110px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 6px;
}
.project-img img {
    width: 100%;
    object-fit: contain;
    transition: 0.3s;
    padding: 10px 20px;
}

.project:hover .project-img img{
    animation: expand 0.3s ease forwards;
}

@keyframes expand{
    from{
        transform: scale(1.0);
    }to{
        transform: scale(1.1);
    }
}

.project .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 30px;
    /* align-items: center; */
}

.project .title{
    font-size: 22px;
    color: white;
}
.project .content{
    font-size: 16px;
    color: #c6c6c6;
    line-height: 20px;
}

.project .name-list{
    display: flex;
    margin-top: 15px;
    gap: 10px;
}

.project .name-list li{
    background-color: #ececec77;
    font-size: 14px;
    color: black;
    padding: 6px 8px;
    border-radius: 8px;
}

.project .name-list li.leader{
    background-color: #2188b6;
    color: white;
}

.float{
    position: relative;
}
.float:hover{
    top: -2px;
}

@media screen and (max-width:650px){
    .tab-bar{
        display: none;
        padding: 0 16px;
    }
    .tab-bar-ham{
        display: flex;
        flex-flow: column;
        width: 30px;
        gap: 6px;
    }
    .container{
        padding: 0 16px 50px;
    }
    .project{
        /* background: green; */
        flex-direction: column;
        /* text-align: center; */
        padding-top: 40px;
    }
    .project .info{
        align-items: center;
    }
    .project .title{
        margin-bottom: 10px;
    }
    .project-img{
        width: min(75%, 250px);
        height: 160px;
    }
    .project .name-list{
        justify-content: center;
    }
}
@media screen and (max-width:500px){
    .project .name-list{
        display: grid;
        grid-template-columns: repeat(3, 60px);
        justify-content: center;
    }
    
    .project .content{
        text-align: center;
    }
}

#top{
    background: #333333;
    width: 100%;
    padding: 40px;
    font-size: 16px;
    /* background-color: var(--color_card); */
    display: flex;
}
#footer_div{
    display: flex;
    width: min(1200px, 100%);
    padding: 0 40px;
    margin: auto;
}
#info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: 100px;
    /* padding-top: 10px;
    padding: 10px; */
    font-size: 16px;
}
.img_holder{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black !important; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.img_holder img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
}

#img_list{
    display: flex;
    gap: 1rem;
    align-items: center;
}
#email_list{
    display: flex;
    gap: 1rem;
    align-items: center;
}

#footer_nav{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    font-size: 16px;
}
#footer_nav a{
    padding: 0 2rem;
    white-space: nowrap;
}

.border_a{
    border-right: 1px solid #606060;
}

#bottom{
    
    display: flex;
    opacity: 0.8;
    font-size: 14px;
    background-color: #2b2b2b;
    padding: 16px;
    align-items: center;
    justify-content: center;
}