.interview-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.interview{
    width: 100%;
    background: #2b2b2b;
    border-radius: 16px;
    padding: 18px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.project-more :nth-child(1){
    transform-origin: left center;
}

.project-more :nth-child(3){
    transform-origin: right center;
}

.interview:hover .project-more :nth-child(1){
    animation: shrink 0.3s ease forwards;
    background-color: #ececec77;
}

.interview:hover .project-more :nth-child(3){
    animation: shrink 0.3s ease forwards;
    background-color: #ececec77;
}

@keyframes shrink{
    from{
        transform: scaleX(1.0);
    }
    to{
        transform: scaleX(0.5);
    }
}

.interview .top{
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    gap: 16px;
    align-items: flex-start;
}

.itv-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.itv-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.interview:hover .itv-img img{
    animation: expand 0.3s ease forwards;
}

@keyframes expand{
    from {
        transform: scale(1.0);
    } to {
        transform: scale(1.1);
    }
}

.info .name{
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-bottom: 5px;
}

.tag{
    padding: 5px 7px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    width: 48px;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 14px;
}

.fruit{
    background-color: #c54422;
}

.vege{
    background-color: #35A67B;
}
.fruvege{
    background-color: #2188b6;
}

.desc{
    font-size: 16px;
    padding-top: 16px;
    line-height: 20px;
}

@media (max-width: 850px){
    .interview-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){
    .interview-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}